@model IEnumerable<CatGacha.Models.Cats.CatIndexVM>

@{
    ViewData["Title"] = "Cat list";
    int rowNumber = 1;
}

<div> 
    <a asp-action="create" asp-asp-controller="Cats" type="submit" class="btn btn-primary">Create</a>
</div> @* link to add new cat. method is create, controller adressed is CatsController *@

<div class="h1">
    Cat list
</div> @* Title *@

<form method="post"> @* This form uses the post method in the controller *@
    <table class="table table-hover">
        <thead> @* Table header *@
            <tr>
                <th scope="col">Entry #</th>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
                <th scope="col">Zodiac</th>
                <th scope="col">Snack</th>
                <th scope="col">Personality</th>
                <th scope="col">ID in database</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody> @* Table body *@
            @foreach (var cat in Model) @* makes a new table row for every entry in this table *@
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@cat.Name</td>
                    <td> <img src="@cat.CatImageLink" />  </td>
                    <td>@cat.Description</td>
                    <td>@cat.Zodiac</td>
                    <td>@cat.Snack</td>
                    <td>@cat.Personality</td>
                    <td>@cat.ID</td>
                    <td>
                        <a asp-action="details" asp-asp-controller="cats" asp-route-itemid="@cat.ID">Details</a>
                        <a asp-action="update" asp-asp-controller="cats" asp-route-itemid="@cat.ID">Modify</a>
                        <a asp-action="delete" asp-asp-controller="cats" asp-route-itemid="@cat.ID">Delete</a>
                        <a asp-action="details" asp-asp-controller="cats" asp-route-itemid="@cat.ID">Clone</a>
                        @* Creates a duplicate entry into the database based on which clone button was clicked *@
                        @* Cloning function not yet implemented *@
                    </td>
                </tr>
                rowNumber++;
            }
        </tbody>
    </table>
</form>